#c1,
#c2,
#c3 {
  width: 33%;
}
#c3 {
  margin-left: 10px;
}

.wrapper {
  padding: 20px;
  width: auto;
  margin-top: 20px;
  display: flex;
  border-style: inset;
  transition: 0.1s all ease-in-out;
}
.wrapper:hover {
  transform: scale(1.02);
}
.wrapper-part1 {
  display: flex;
  flex-direction: row;
}
.image-content {
  overflow: hidden;
}
.image-content img {
  width: 15vw;
  height: 25vh;
  transition: 0.2s all ease-in-out;
}
.description-content {
  margin-left: 5em;
  font-size: medium;
  width: max-content;
}
.coupon-action {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 17.5vw;
}
.border-button {
  width: 12vw;
  margin: 10px 0 0 0;
  border: solid 1px #221f20;
  transition: border-width 0.6s linear;
}

.image-content img:hover {
  transform: scale(1.2);
}
.remove-button {
  height: fit-content;
}
.amount-content {
  font-size: small;
}

@media only screen and (max-width: 650px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 0;
  }
  #c1,
  #c2,
  #c3 {
    width: auto;
  }
  .wrapper-part1 {
    flex-direction: column-reverse;
  }
  .image-content img {
    width: auto;
  }
  .description-content {
    margin: 0;
    font-family: math;
  }
  .description-content h2 {
    font-size: medium;
    margin: 0;
  }
  .description-content p {
    margin-top: 4px;
  }

  .remove-button {
    position: relative;
    right: 9px;
  }
  .border-button {
    width: 26vw;
  }
  .border-button span {
    font-size: x-small;
  }
}
