.Cart {
  display: flex;
  flex-direction: row;
  font-family: math;
}
.Cart-items {
  margin-left: 20px;
}
.Total {
  border-left: 6px solid purple;
  background: #f2f2f2;
  height: fit-content;
  padding: 20px;
  width: 19vw;
  margin: 22px 0 0 52px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 650px) {
  .Cart {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column-reverse;
  }
  .Cart-items {
    margin: 0;
  }
  .Total {
    font-size: 1.2rem;
    border-left: 6px solid purple;
    background: rgb(242, 242, 242);
    height: fit-content;
    padding: 20px;
    width: 88vw;
    margin: 1px 0px 0px 0px;
    display: flex;
  }
}
