.Container-marketplace {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
}
h1 {
  display: flex;
  font-family: Georgia, sans-serif;
  font-size: 2em;
}
.None {
  display: none;
}

.Marketplace {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  padding: 10px;
}

@media only screen and (max-width: 1240px) {
  .Marketplace {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 650px) {
  .Marketplace {
    grid-template-columns: auto;
  }
}

button {
  margin: 20px;
  outline: none;
}
.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-9 {
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.btn-9:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}
.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  background: rgb(158, 71, 151);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(133, 5, 79, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}
.None {
  display: none;
}
